<ion-header>
    <ion-toolbar>
        <ion-title>loginGoogleFacebook</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-text-center">
        <ion-col>
            <ion-button type="submit" color="tertiary" shape="round" (click)="ingresar('google')">
                Google
            </ion-button>

            <ion-button type="submit" color="tertiary" shape="round" (click)="ingresar('facebook')">
                Facebook
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>