<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Chat</ion-title>

        <ion-buttons slot="end">
            <ion-label class="ion-text-capitalize" class="marginChat">{{ usuario.nombre }}</ion-label>
            <ion-avatar class="ion-margin-end">
                <img src="/assets/avatars/{{ usuario.avatar }}">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-button expand="block" (click)="listaUsuariosConectados()">
        Lista de usuarios conectados
    </ion-button>

    <ion-list>
        <ion-list-header>
            Conversaciones recientes
        </ion-list-header>

        <ion-item *ngFor="let usuarioMensaje of usuarioMensajes">
            <ion-label>
                <p>{{ usuarioMensaje.nombreUsuario }}</p>
                <h3>{{ usuarioMensaje.mensaje }}</h3>
            </ion-label>
        </ion-item>
        <!-- <ion-item *ngIf="isAdministrator">
            <ion-label>
                <p>{{ mensajeAdministrador }}</p>
            </ion-label>
        </ion-item> -->
    </ion-list>

    <ion-grid>
        <ion-row>

            <ion-col>
                <ion-card fullscreen>
                    <ion-card-content>
                        <ion-text *ngFor="let persona of personas"></ion-text>
                        <form (ngSubmit)="giveValueToMessage( fMensajes )" #fMensajes>
                            <ion-item>
                                <ion-input name="nombre" type="text" [(ngModel)]="mensaje" required></ion-input>
                                <!-- <ion-textarea [(ngModel)]="usuario.mensaje"></ion-textarea> -->
                                <ion-button type="submit" color="tertiary">
                                    <ion-icon slot="icon-only" name="send-outline"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>