<ion-row>
  <ion-col class="ion-text-center">
      <h3>Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>

      <ion-slides [options]="avatarSlide">
        <ion-slide *ngFor="let avatar of avatars">
          <ion-avatar class="pick-avatar"
                      [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
                      (click)="seleccionarAvatar( avatar )">
            <img src="/assets/avatars/{{ avatar.img }}">
          </ion-avatar>          
        </ion-slide>
      </ion-slides>
  
  </ion-col>
</ion-row>
